* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  margin-top: 2%;
}

.mainheading {
  background-color: #55d6aa;
  color: black;
}

.mainheading h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: antiquewhite;
  text-align: left;
  margin: 10px;
  margin-top: 10px;
  padding-top: 5px;
}

.mainheading h4 {
  font-family: "Bitter", serif;
  font-family: "Cinzel", serif;
  color: antiquewhite;
  text-align: left;
  margin-top: 10px;
  margin: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.container a {
  float: right;
  color: antiquewhite;
  text-align: right;
  font-size: 14px;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  font-family: "Cinzel", serif;
}

.container li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

.container A:hover {
  background-color: antiquewhite;
  color: rgb(59, 58, 58);
}

.container a::before {
  display: block;
  height: 5px;
  width: 0%;
  background-color: antiquewhite;
  content: "";
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

.container a:hover:before {
  width: 100%;
}

.photo {
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
  position: relative;
  margin-bottom: 10px;
}

.photosection {
  background-color: peachpuff;
  border: 2px solid whitesmoke;
  text-align: center;
}
.photo .image-back {
  border-radius: 50%;
  height: 250px;
  width: 200px;
}

.photo .image-top {
  border-radius: 50%;
  display: none;
  height: 250px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in-out;
}

.photo:hover .image-top {
  display: block;
  border-radius: 50%;
}

.aboutme h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: rgb(75, 74, 74);
  text-align: center;
}

.aboutme p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
  padding: 10px;
  text-align: center;
}

.aboutme {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.horiseon {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid peachpuff;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  position: relative;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid peachpuff;
  padding: 10px;
  border-radius: 4px;
  height: 200px;
  width: 300px;
  align-items: center;
  opacity: 0.5;
  position: relative;
}

section p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
  margin-bottom: 2px;
  text-align: center;
}
section h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: rgb(75, 74, 74);
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

section p1 {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
  font-style: italic;
  text-align: center;
}

.fa {
  padding: 15px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.contact {
  display: flex;
  justify-content: center;
  background-color: peachpuff;
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
}

.contact ul {
  margin-left: 30px;
  margin-top: 25px;
  list-style-type: none;
  float: right;
  line-height: 50px;
  height: 50px;
  width: 50px;
}

.fa-instagram {
  background: antiquewhite;
  color: rgb(59, 58, 58);
  float: right;
}

.fa-linkedin {
  background: antiquewhite;
  color: rgb(59, 58, 58);
  display: inline-block;
  float: right;
}

.fa-mobile-phone {
  margin-top: 25px;
  background: antiquewhite;
  color: rgb(59, 58, 58);
}

.fa-envelope-o {
  background: antiquewhite;
  color: rgb(59, 58, 58);
}
