* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  margin-top: 2%;
}

.mainheading {
  background-color: #55d6aa;
  color: black;
}

.mainheading h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: antiquewhite;
  text-align: center;
}

.mainheading h4 {
  font-family: "Bitter", serif;
  font-family: "Cinzel", serif;
  color: antiquewhite;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container a {
  float: right;
  color: antiquewhite;
  text-align: right;
  font-size: 14px;
  padding: 14px 16px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  font-family: "Cinzel", serif;
}

.container li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}

.container A:hover {
  background-color: rgb(238, 236, 232);
  color: black;
}

.container a::before {
  display: block;
  height: 5px;
  width: 0%;
  background-color: whitesmoke;
  content: "";
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

.container a:hover:before {
  width: 100%;
}

.horiseon {
  height: 400px;
  width: 600px;
  float: left;
  display: flex;
  flex: 1 1 10cm;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}
.project {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 150px;
  position: relative;
  opacity: 0.5;
  align-content: space-between;
  height: 200px;
  width: 300px;
  float: left;
  flex: 1 1 10cm;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.photo {
  border-radius: 50%;
  display: inline-block;
  margin-top: 70px;
  position: relative;
  margin-left: 35%;
  margin-right: 60%;
  margin-bottom: 30px;
}

.photo .image-back {
  border-radius: 50%;
  height: 250px;
  width: 200px;
}

.photo .image-top {
  border-radius: 50%;
  display: none;
  height: 250px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in-out;
}

.photo:hover .image-top {
  display: block;
  border-radius: 50%;
}

.aboutme h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: rgb(75, 74, 74);
}

.aboutme p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
}

.aboutme {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
}
section h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: rgb(75, 74, 74);
}

section p1 {
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 74, 74);
  font-style: italic;
}
